.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #2872c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  z-index: 1000;
}

.navbar-bar {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  z-index: 1000;
}

.navbar-bar .navbar-buttons{
  display: inline-flex;
  gap: 10px;
}


.navbar-top h2 { 
  font-size: 1.5rem; 
  color: #ffffff; 
}

.navbar-button {
  background-color: transparent;
  color: #374151; 
  font-size: 1rem;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 550;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-button:hover {
  background-color: #e0f2fe; 
  color: #1d4ed8;
}

.navbar-button.active {
  background-color: #e0f2fe; 
  color: #1d4ed8;
}


.navbar-top .btn {
  background-color: #ffffff; 
  color: #374151;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-top .btn:hover {
  background-color: #d3d3d3;
}

.navbar-top .btn.active {
  background-color: #d3d3d3;
}


.navbar-top .logout-btn {
  background-color: #c71d2b; 
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 40px;
}

.navbar-top .logout-btn:hover {
  background-color: #ac0f1c;
}


.dashboard {
  display: flex;
  height: calc(100vh - 180px);
  margin-top: 180px; 
  background-color: #f9fafb;
}


.sidebar {
  width: 250px; 
  background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow-y: auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-item {
  padding: 10px;
  border-radius: 6px;
  color: #374151;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  width: 200px;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #e0f2fe;
  color: #1d4ed8;
}

.sidebar-item.active {
  color: #1d4ed8;
  font-weight: bold;
}



.main-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}
