.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.p{
  margin: 8px;
}

.searchRow {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input {
  max-width: 180px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.booksGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .booksGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .booksGrid {
    grid-template-columns: 1fr;
  }
}

.bookCard {
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bookTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.categoryTag {
  background-color: #007bff;
  color: white;
  padding: 5.5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.reserveButton {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.reserveButton:hover {
  background-color: #218838;
}

.borrowedButton {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #ff8c42;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.borrowedButton:hover{
  background-color: #ff8c42;
}

.disabledButton {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #d3d3d3;
  color: #333;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.disabledButton:hover{
  background-color: #d3d3d3;
}

.cancelButton {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.cancelButton:hover {
  background-color: #a71d2a;
}

.lostButton {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: purple;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.lostButton:hover {
  background-color: #4e004e;
}

.damagedButton {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: brown;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.damagedButton:hover {
  background-color: #5a2d0c;
}

.noResults {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

.infoText {
  color: #17a2b8;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.addButton {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 15px;
}

.addButton:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
}

.bookTitleStyled {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  color: #333;
  align-self: center;
  margin-bottom: 25px;
  margin-top: 15px;
}


.detailsRow {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.detailsLabel {
  font-weight: 600;
  color: #000;
}

.detailsValue {
  font-weight: 400;
  color: #111;
}

.detailsDescription {
  margin-top: 20px;
}

.detailsDescription p {
  margin-top: 10px;
  padding: 12px;
  background: #f7f7f7;
  border-radius: 6px;
  line-height: 1.5;
}

.closeButtonStyled {
  position: absolute; 
  top: 8px;
  right: 13px;
  background: transparent;
  color: red;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.closeButtonStyled:hover {
  transform: scale(1.1);
}
